<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.dto.UserAddress">
      <result column="address_id" property="addressId" jdbcType="INTEGER" />
      <result column="user_id" property="userId" jdbcType="INTEGER" />
      <result column="consignee" property="consignee" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="area" property="area" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" jdbcType="VARCHAR" />
      <result column="is_default" property="isDefault" jdbcType="INTEGER" />
      <result column="is_pickup" property="isPickup" jdbcType="INTEGER" />
      <result column="label" property="label" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.mall.model.dto.UserAddress">
    insert into tb_user_address (address_id, user_id, consignee, 
      email, area, address, 
      zipcode, mobile, is_default, 
      is_pickup, label)
    values (#{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{consignee,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, 
      #{isPickup,jdbcType=BIT}, #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.model.dto.UserAddress">
    insert into tb_user_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="consignee != null">
        consignee,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="zipcode != null">
        zipcode,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isPickup != null">
        is_pickup,
      </if>
      <if test="label != null">
        label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="consignee != null">
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="isPickup != null">
        #{isPickup,jdbcType=BIT},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="findListByUserId" resultMap="BaseResultMap">
    select * from tb_user_address ua
    where ua.user_id = #{userId}
  </select>

  <update id="clearDefaultAddress">
    update tb_user_address set is_default = 0 where user_id = #{userId} and is_default = 1
  </update>

  <update id="setDefaultAddress">
    update tb_user_address set is_default = #{isDefault} where address_id = #{addressId}
  </update>
</mapper>