<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.order.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.dto.OrderGoods">
      <result column="rec_id" property="recId" jdbcType="INTEGER" />
      <result column="order_id" property="orderId" jdbcType="INTEGER" />
      <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
      <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
      <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />
      <result column="goods_num" property="goodsNum" jdbcType="SMALLINT" />
      <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
      <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
      <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
      <result column="is_comment" property="isComment" jdbcType="INTEGER" />
      <result column="is_send" property="isSend" jdbcType="INTEGER" />
      <result column="delivery_id"  jdbcType="INTEGER" />
      <result column="sku"  jdbcType="VARCHAR" />
      <result column="original_img"  jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.mall.model.dto.OrderGoods" useGeneratedKeys="true"
    keyProperty="recId">
    insert into tb_order_goods (order_id, goods_id,
      goods_name, goods_sn, goods_num, 
      market_price, goods_price, bar_code, 
      is_comment, is_send, delivery_id, 
      sku, original_img)
    values (#{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},
      #{goodsName,jdbcType=VARCHAR}, #{goodsSn,jdbcType=VARCHAR}, #{goodsNum,jdbcType=SMALLINT}, 
      #{marketPrice,jdbcType=DECIMAL}, #{goodsPrice,jdbcType=DECIMAL}, #{barCode,jdbcType=VARCHAR}, 
      #{isComment,jdbcType=BIT}, #{isSend,jdbcType=BIT}, #{deliveryId,jdbcType=INTEGER}, 
      #{sku,jdbcType=VARCHAR}, #{originalImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.model.dto.OrderGoods">
    insert into tb_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        rec_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="isComment != null">
        is_comment,
      </if>
      <if test="isSend != null">
        is_send,
      </if>
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="originalImg != null">
        original_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=SMALLINT},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isComment != null">
        #{isComment,jdbcType=BIT},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=BIT},
      </if>
      <if test="deliveryId != null">
        #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="originalImg != null">
        #{originalImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>